$color-black: #000;

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin parallax {
    position: relative;
    min-height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    @include absCenter;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.7);
}

#main-nav {
    .nav-item {
        &:not(:last-child) {
            margin-right: 1rem;

            @media only screen and (min-width: 576px) and (max-width: 768px) {
                margin-right: 0.5rem;
            }
        }

        @media only screen and (min-width: 576px) and (max-width: 768px) {
            font-size: 0.9rem;
        }
    }
}

#showcase {
    .carousel-item {
        min-height: 450px;
    }

    .carousel-img {
        &-1 {
            background-image: url(../img/image1.jpg);
            background-size: cover;
        }

        &-2 {
            background-image: url(../img/image2.jpg);
            background-size: cover;
        }

        &-3 {
            background-image: url(../img/image3.jpg);
            background-size: cover;
        }
    }
}

#home-heading {
    @include parallax;
    background-image: url(../img/lights.jpg);
}

#video-play {
    @include parallax;
    background-image: url(../img/media.jpg);
    background-position: 0 -300px;
}

#newsletter {
    background-color: #343a40;
}

#page-header {
    @include parallax;
    background-image: url(../img/image1.jpg);
    background-position: 0 -360px;
}

#about {
    .img-about {
        margin-top: -50px;
        position: relative;
    }
}

#testimonials {
    background-color: #343a40;
}
