#main-nav {
    .nav-item {
        &:not(:last-child) {
            margin-right: 1rem;

            @media only screen and (min-width: 576px) and (max-width: 768px) {
                margin-right: 0.5rem;
            }
        }

        @media only screen and (min-width: 576px) and (max-width: 768px) {
            font-size: 0.9rem;
        }
    }
}

#showcase {
    .carousel-item {
        min-height: 450px;
    }

    .carousel-img {
        &-1 {
            background-image: url(../img/image1.jpg);
            background-size: cover;
        }

        &-2 {
            background-image: url(../img/image2.jpg);
            background-size: cover;
        }

        &-3 {
            background-image: url(../img/image3.jpg);
            background-size: cover;
        }
    }
}
