$color-black: rgb(0, 0, 0);

@mixin parallax {
    position: relative;
    min-height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    .nav-item.active {
        border-left: 3px solid #444;
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 14px;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        @media only screen and (min-width: 576px) and (max-width: 768px) {
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
            font-size: 13px;
        }
    }
}

#showcase {
    .carousel-item {
        height: 450px;
    }

    .carousel-img-1 {
        background-image: url(../img/image1.jpg);
        background-size: cover;
    }

    .carousel-img-2 {
        background-image: url(../img/image2.jpg);
        background-size: cover;
    }

    .carousel-img-3 {
        background-image: url(../img/image3.jpg);
        background-size: cover;
    }
}

#home-heading {
    @include parallax;

    background-image: url(../img/lights.jpg);
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.7);
}

#video-play {
    @include parallax;

    background-image: url(../img/media.jpg);

    a {
        color: #efefef;
    }
}

#main-footer {
    background-color: $color-black;
    color: #efefef;
}
